apiVersion: apps/v1
kind: Deployment
metadata:
  name: random-string
  labels:
    app: random-string
spec:
  replicas: 1
  selector:
    matchLabels:
      app: random-string
  template:
    metadata:
      labels:
        app: random-string
    spec:
      volumes:
        - name: shared-data
          emptyDir: {}
      containers:
        - name: random-generator
          image: atteh0gm4n/random-string:latest
          imagePullPolicy: IfNotPresent
          command: ["python", "-u", "generator.py"]
          volumeMounts:
            - name: shared-data
              mountPath: /shared
          resources:
            requests:
              cpu: "25m"
              memory: "32Mi"
            limits:
              cpu: "100m"
              memory: "64Mi"
        - name: random-reader
          image: atteh0gm4n/random-string:latest
          imagePullPolicy: IfNotPresent
          command: ["python", "-u", "reader.py"]
          ports:
            - containerPort: 3000
          volumeMounts:
            - name: shared-data
              mountPath: /shared
          livenessProbe:
            httpGet:
              path: /status
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /status
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 5